{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="wrapper">

    <!-- douban ad begin -->
    <div id="dale_book_home_top_super_banner" class="ad-placeholder" style="margin: -18px 0 0;">
    </div>
    <!-- douban ad end -->

    <div id="content">

        <div class="grid-16-8 clearfix">

            <div class="article">

                <!-- douban ad begin -->
                <div id="dale_book_home_left_top" class="ad-placeholder" style="margin:-30px 0 30px;"></div>
                <!-- douban app end -->

                <div class="section popular-books">
                    <div class="hd">
                        <h2>
                            <span>新书速递</span>
                            <span class="link-more">
          <a href="/booklist/新书/1/">更多»</a>
        </span>        </h2>
                    </div>
                    <div class="bd">
                        <ul class="list-col list-col2 list-summary s"
                            data-dstat-areaid="61" data-dstat-mode="click,expose">

                            {% for book in book_list %}
                            <li class="">
                                <div class="cover">
                                        <a href="/details/{{ book.id }}/"><img src="/static/{{ book.img }}"
                                             alt="{{ book.title }}" class="">
                                   </a>
                                </div>
                                <div class="info">
                                    <h4 class="title">
                                        <a onclick="moreurl(this, {from:'pop_fiction'})"
                                           href="/details/{{ book.id }}/"
                                           class="">{{ book.title }}</a>
                                    </h4>
                                    <p class="entry-star-small">

                                        <span class="average-rating">

          评分：{{ book.score }}
        </span>
                                    </p>
                                    <p class="author">
                                        作者：{{ book.author }}
                                    </p>
                                    <p class="book-list-classification">
                                        {{ book.types }}
                                    </p>

                                    <p class="reviews" >
                                        评论
                                    </p>
                                    {% endfor %}
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- douban ad begin -->
                <div id="dale_book_home_left_middle" class="ad-placeholder" style="margin:-50px 0 30px;"></div>
                <!-- douban app end -->

                <div class="section ebook-area"></div>

                <div id="reviews" class="section"></div>

            </div>
            <div class="aside">

                <!-- douban ad begin -->
                <div id="dale_book_home_top_right" class="s ad-placeholder"
                     data-dstat-areaid="51" data-dstat-mode="click,expose"
                     style="margin-top: 30px;"></div>
                <!-- douban ad end -->

                <!-- douban ad begin -->
                <div id="dale_book_home_top_right2" class="ad-placeholder"></div>
                <!-- douban ad end -->


                <h2 class=''>
                    <span class="">热门标签</span>
                    <span class="link-more">
        <a class="" href="/tag/?view=type&amp;icn=index-sorttags-all"
        >所有热门标签»</a>
      </span>
                </h2>
                <ul class="hot-tags-col5 s" data-dstat-areaid="54" data-dstat-mode="click,expose">


                    <li >
                        {% for types in type_list %}
                        <ul class="clearfix" style="float: left;margin-right: 5px;">
                            <li >
                                <a href="/booklist/{{ types.label }}/1/" class="tag">{{ types.label }}</a>
                            </li>
                        </ul>
                        {% endfor %}
                    </li>

                </ul>

                <!-- douban ad begin -->
                <div id="dale_book_homepage_right_bottom" class="ad-placeholder"></div>
<div class="section weekly-top" style="margin-top: 110px;">
    <div class="hd">


        <p><h2 style="margin-top: 20px;">畅销图书榜<span style="font-size: 14px;">>><a href="#">京东</a></span></h2></p>

    </div>
    <div class="bd">

            <ul class="list list-ranking">
                {% for book in booke %}
                <li class="item">
                    <span class="rank-num">{{ book.id }}.</span>
                    <div class="book-info">
                        <a href="/details/{{ book.id }}" class="name" >{{ book.title }}</a>
                        <div class="author">{{ book.author }}</div>
                    </div>

                </li>
                {% endfor %}
            </ul>

    </div>
</div>
            </div>
        </div>

    </div>

{% endblock %}