{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="wrapper">

    <!-- douban ad begin -->
    <div id="dale_book_home_top_super_banner" class="ad-placeholder" style="margin: -18px 0 0;">
    </div>
    <!-- douban ad end -->

    <div id="content">

        <div class="grid-16-8 clearfix">

            <div class="article">

                <!-- douban ad begin -->
                <div id="dale_book_home_left_top" class="ad-placeholder" style="margin:-30px 0 30px;"></div>
                <!-- douban app end -->

                <div class="section popular-books">
                    <div class="hd">
                        <h2>
                            <span>推荐图书</span>
                            <span class="link-more">
          <a href="/chart?subcat=F&amp;icn=index-topchart-fiction">小说类»</a>
        </span>
                            <span class="link-more">
          <a href="/chart?icn=index-topchart-nonfiction">随笔类»</a>
        </span>
                        </h2>
                    </div>
                    <div class="bd">
                        <ul class="list-col list-col2 list-summary s"
                            data-dstat-areaid="61" data-dstat-mode="click,expose">

                            {% for book in book_list %}
                            <li class="">
                                <div class="cover">
                                        <img src="/static/{{ book.img }}"
                                             alt="{{ book.title }}" class="">
                                    </a>
                                </div>
                                <div class="info">
                                    <h4 class="title">
                                        <a onclick="moreurl(this, {from:'pop_fiction'})"
                                           href="/static/{{ book.img }}"
                                           class="">{{ book.title }}</a>
                                    </h4>
                                    <p class="entry-star-small">

                                        <span class="average-rating">

          评分：{{ book.score }}
        </span>
                                    </p>
                                    <p class="author">
                                        作者：{{ book.author }}
                                    </p>
                                    <p class="book-list-classification">
                                        {{ book.types }}
                                    </p>

                                    <p class="reviews" >
                                        评论
                                    </p>
                                    {% endfor %}
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- douban ad begin -->
                <div id="dale_book_home_left_middle" class="ad-placeholder" style="margin:-50px 0 30px;"></div>
                <!-- douban app end -->

                <div class="section ebook-area"></div>

                <div id="reviews" class="section"></div>

            </div>
            <div class="aside">

                <!-- douban ad begin -->
                <div id="dale_book_home_top_right" class="s ad-placeholder"
                     data-dstat-areaid="51" data-dstat-mode="click,expose"
                     style="margin-top: 30px;"></div>
                <!-- douban ad end -->

                <!-- douban ad begin -->
                <div id="dale_book_home_top_right2" class="ad-placeholder"></div>
                <!-- douban ad end -->


                <h2 class=''>
                    <span class="">热门标签</span>
                    <span class="link-more">
        <a class="" href="/tag/?view=type&amp;icn=index-sorttags-all"
        >所有热门标签»</a>
      </span>
                </h2>
                <ul class="hot-tags-col5 s" data-dstat-areaid="54" data-dstat-mode="click,expose">


                    <li>
                        <ul class="clearfix">
                            <li class="tag_title">
                                文学
                            </li>
                            <li>
                                <a href="/tag/小说" class="tag">小说</a>
                            </li>
                            <li>
                                <a href="/tag/随笔" class="tag">随笔</a>
                            </li>
                            <li>
                                <a href="/tag/日本文学" class="tag">日本文学</a>
                            </li>
                            <li class="last">
                                <a href="/tag/散文" class="tag">散文</a>
                            </li>
                            <li>
                                <a href="/tag/诗歌" class="tag">诗歌</a>
                            </li>
                            <li>
                                <a href="/tag/童话" class="tag">童话</a>
                            </li>
                            <li>
                                <a href="/tag/名著" class="tag">名著</a>
                            </li>
                            <li class="last">
                                <a href="/tag/港台" class="tag">港台</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <ul class="clearfix">
                            <li class="tag_title">
                                流行
                            </li>
                            <li>
                                <a href="/tag/漫画" class="tag">漫画</a>
                            </li>
                            <li>
                                <a href="/tag/推理" class="tag">推理</a>
                            </li>
                            <li>
                                <a href="/tag/绘本" class="tag">绘本</a>
                            </li>
                            <li class="last">
                                <a href="/tag/青春" class="tag">青春</a>
                            </li>
                            <li>
                                <a href="/tag/科幻" class="tag">科幻</a>
                            </li>
                            <li>
                                <a href="/tag/言情" class="tag">言情</a>
                            </li>
                            <li>
                                <a href="/tag/奇幻" class="tag">奇幻</a>
                            </li>
                            <li class="last">
                                <a href="/tag/武侠" class="tag">武侠</a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <ul class="clearfix">
                            <li class="tag_title">
                                文化
                            </li>
                            <li>
                                <a href="/tag/历史" class="tag">历史</a>
                            </li>
                            <li>
                                <a href="/tag/哲学" class="tag">哲学</a>
                            </li>
                            <li>
                                <a href="/tag/传记" class="tag">传记</a>
                            </li>
                            <li class="last">
                                <a href="/tag/设计" class="tag">设计</a>
                            </li>
                            <li>
                                <a href="/tag/建筑" class="tag">建筑</a>
                            </li>
                            <li>
                                <a href="/tag/电影" class="tag">电影</a>
                            </li>
                            <li>
                                <a href="/tag/回忆录" class="tag">回忆录</a>
                            </li>
                            <li class="last">
                                <a href="/tag/音乐" class="tag">音乐</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <ul class="clearfix">
                            <li class="tag_title">
                                生活
                            </li>
                            <li>
                                <a href="/tag/旅行" class="tag">旅行</a>
                            </li>
                            <li>
                                <a href="/tag/励志" class="tag">励志</a>
                            </li>
                            <li>
                                <a href="/tag/教育" class="tag">教育</a>
                            </li>
                            <li class="last">
                                <a href="/tag/职场" class="tag">职场</a>
                            </li>
                            <li>
                                <a href="/tag/美食" class="tag">美食</a>
                            </li>
                            <li>
                                <a href="/tag/灵修" class="tag">灵修</a>
                            </li>
                            <li>
                                <a href="/tag/健康" class="tag">健康</a>
                            </li>
                            <li class="last">
                                <a href="/tag/家居" class="tag">家居</a>
                            </li>

                        </ul>
                    </li>

                </ul>

                <!-- douban ad begin -->
                <div id="dale_book_homepage_right_bottom" class="ad-placeholder"></div>
<div class="section weekly-top">
    <div class="hd">
        <h2>畅销图书榜<span style="font-size: 14px;">>><a href="#">京东</a></span></h2>

    </div>
    <div class="bd">

            <ul class="list list-ranking">
                {% for book in booke %}
                <li class="item">
                    <span class="rank-num">{{ book.id }}.</span>
                    <div class="book-info">
                        <a href="#" class="name" >{{ book.title }}</a>
                        <div class="author">{{ book.author }}</div>
                    </div>

                </li>
                {% endfor %}
            </ul>

    </div>
</div>
            </div>
        </div>

    </div>

{% endblock %}