{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
    table,table tr th,table td{
       border:1px solid #ccc;
        margin-left: 250px;
        height: 60px;
        }
    .td{
        height: 30px;
        width: 300px;
        margin-left: 30px;
    }
    .label{
        font-size: 20px;
        margin-left: 20px;
        margin-top: 1px;
        display: block;
        background-color: #00A5E4;
        color: #fff;
        width: 150px;
        text-align: center;
    }
    </style>
{% endblock %}

{% block content %}
    <div style="float:left;">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table width="600px" height="400px" cellpadding="1px" cellspacing="1px" >
            <tr>
                <td colspan="2" style="text-align: center"><h1>编辑资料</h1></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="nickname" placeholder="{{ user_list.nickname }}" class="td">
                </td>
                <td rowspan="7">
                    <div style="margin-left: 45px;margin-bottom: 220px ;">
                        <img src="/static/{{ user_list.head_portrait }}" style="width: 150px;height: 150px;">
                        <p>
                            <input type="file" name="img" id="imgs" >
                        </p>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="xingming" placeholder="{{ user_list.xingming }}" class="td">
                </td>

            </tr>
            <tr>
                <td>
                    <input type="text" name="age" placeholder="{{ user_list.age }}" class="td">
                </td>

            </tr>
            <tr>
                <td>
                    <input type="text" name="work" placeholder="{{ user_list.work }}" class="td">
                </td>

            </tr>
            <tr>
                <td>
                    <input type="text" name="tel" placeholder="{{ user_list.tel }}" class="td">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="address" placeholder="{{ user_list.address }}" class="td">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="提交"  class="td">
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div style="float: left;width: 1px;height: 500px;background-color: #ccc;margin-left: 200px;"></div >
    <div style="float: left">
        <p class="label"><a href="/home/{{ user_list.id }}/">编辑资料</a></p>
        <p class="label"><a href="#">修改密码</a></p>
    </div>
{% endblock %}
{#{% block script %}#}
{#       <script>#}
{#    $(#}
{#        function () {#}
{#            $('#submit').click(function () {#}
{#                var forms = new FormData();#}
{#                forms.append('image',document.getElementById('imgs').files[0]);#}
{#                forms.append('csrfmiddlewaretoken','{{ csrf_token }}');#}
{##}
{#                $.ajax({#}
{#                    url:'/ajax_data/',#}
{#                    type:'POST',#}
{#                    data:forms,#}
{#                    processData: false,#}
{#                    contentType:false,#}
{#                    success:function (data) {#}
{#                        console.log(data)#}
{#                    },#}
{#                    error:function (error) {#}
{#                        console.log(error)#}
{#                    }#}
{#                })#}
{##}
{#            })#}
{#        }#}
{#    )#}
{#    </script>#}
{#{% endblock %}#}
